body {
margin: 0px;
}

.header , .top{
background-color: #1F2937;
}

.header{
    margin-bottom: 0;
    padding: 10px 110px 0px 110px;
    display: flex;
}

.header ul{
    display: inline-flex;
    color: #e5e7eb;
    font-size: 18px;
    position: absolute;
    top: auto;
    right: 0;
    padding: 10px 0px 0px 0px;
}

.header ul p{
    padding: 0px 50px 0px 0px ;
}
.header h3{
    display: inline-block;
    position: relative;
    padding: 10px 0px 0px 0px;
    color: #F9FAF8;
    font-size: 24px;
}
#Writing{
    margin: 0;
}
.top img{
    position: absolute;
    right: 45px;
}

.top h1 {
    font-size: 48px;
    font-weight: bolder;
}

.top p {
    font-size: 18px;
}

.top {
    padding: 50px;
    color: #F9FAF8 ;
}

.top button{
    background-color: #3882F6;
    border-radius: 12px;
    margin: 4px 2px;
    padding: 8px;
    color: #F9FAF8 ;
    width: 100px;
    
}

.mid { 
    padding: 100px;
}

.mid h2 {
    text-align: center;
}

.img {
    border: 2px solid #3882F6;
    width: 100px;
    height: 100px;
    display:inline-block;
    margin: 30px;
}

.middle {
    background-color: #E5E7EB;
    padding: 100px;
}

.middle p{
    font-style: italic;
    text-decoration: 36px #1F2937;
}

.quote{
    text-decoration: 36px #1F2937;
    font-style: italic;
    text-align: right;
}

.bottom {
    display: block;
    padding: 30px; 
}

.calltoact {
    background-color: #3882F6;
    width: 500px;
    height: auto;
}

.calltoact button{
    background-color: transparent;
    border-radius: 12px;
    border: 2px solid white ;
    padding: 8px;
    color: #F9FAF8 ;
    width: 100px;
}

.footer{
    background-color: #1F2937;
    text-align: center;
    color: #e5e7eb;
    padding: 35px;
}